.navtable {  cursor: hand}

a:hover {  color: #000099; text-decoration: none; border: 1px #999999 none}

a {  border: none; text-decoration: none; color: #3333AA;
  margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px}

.speciallink {  border: none; text-decoration: none; color: #000000; font-size: 8.5pt;
  margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px}
.speciallink a {  border: none; text-decoration: none; color: #000000;
  margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px}

.smalllink {  border: none; text-decoration: none; color: #000000; font-size: 8.5pt;
  margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px}
.smalllink a {  border: none; text-decoration: none; color: #3333AA;
  margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px}

.tdlight { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt; color: #FFFFFF; font-weight: bold}

input {  color: #333333; background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt; text-decoration: none; border: 1px solid; border-width: 1px 1px 1px 1px; border-color: #AAAAAA solid; font-weight: bolder; }

.inputborderless {  color: #333333; background-color: #F0F0F0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt; text-decoration: none; border: 0px; border-width: 0px 0px 0px 0px; border-color: #AAAAAA solid; font-weight: bolder;}

.inputbutton {  color: FFFFFF; background-color: #778EA6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt; text-decoration: none; border: 1px solid; border-width: 1px 1px 1px 1px; border-color: #AAAAAA solid; font-weight: bolder; }

.inputbuttoninv {  color: FFFFFF; background-color: #778EA6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt; text-decoration: none; border: 1px solid; border-width: 1px 1px 1px 1px; border-color: #AAAAAA solid; font-weight: bolder; width 0}

textarea {  color: #333333; background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt; text-decoration: none; border: 1px solid; border-width: 1px 1px 1px 1px; border-color: #AAAAAA solid;}

td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: 130%; font-weight: normal; color: #333333; text-align: left}

.hd4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; line-height: 130%; font-weight: normal; color: #333333}

.hd3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: 130%; font-weight: normal; color: #333333}

.hd2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; font-style: normal; line-height: 130%; font-weight: normal; color: #333333}

.hd1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; line-height: 130%; font-weight: normal; color: #333333}

.head1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13pt; font-style: normal; line-height: normal; font-weight: bold; color: #000000 }

.head1white { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; line-height: normal; font-weight: bolder; color: #FFFFFF}

body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bolder; color: #000000 }

scrollbar-3dlight-color:#AAAAAA;

scrollbar-highlight-color:#EEEEEE;

scrollbar-shadow-color:#EEEEEE;

scrollbar-darkshadow-color:#AAAAAA;

scrollbar-track-color:#F0F0F0;

scrollbar-arrow-color:#222222; }

.smallprint { font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px; font-style: normal; line-height: normal;
  font-weight: normal; color: #333333}

.greyprint { font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt; font-style: normal; line-height: normal;
  font-weight: bold; color: #666666}

.head2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11pt; font-style: normal;
  line-height: normal; font-weight: bold; color: #000000 }